body {
    font-family: 'Montserrat', sans-serif;
    position: relative; 
    color: rgb(17, 17, 17);
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
}
h1{
    font-weight: 700;
}h2{
    font-weight: 600;
}
a{
    text-decoration: none;
    color: rgb(17, 17, 17);
    display: block;
}
a:hover{
    text-decoration: none;
    color: rgb(17, 17, 17);
}
#sbg{
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
}
#bcol{
    padding-top: 15px;
}
#about{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
#deth{
    color: rgb(122, 121, 121);
}
#recover{
    color: rgb(106, 224, 126);
}
#active{
    color: rgb(20, 208, 233);
}
#total{
    color: rgb(202, 68, 68);
}
#info{
    color: lightslategray;
    font-size: .8rem;
}
#corona{
    color: rgb(202, 68, 68);
}
#delta-con{
    margin: 0px;
    color: rgb(202, 68, 68);
}
#delta-rec{
    margin: 0px;
    color: rgb(106, 224, 126);
}
#delta-dsc{
    margin: 0px;
    color: rgb(122, 121, 121);
}
#state-delta-con{
    font-size: .8rem;
    color: rgb(202, 68, 68);
}
#state-delta-rec{
    font-size: .8rem;
    color: rgb(6, 156, 31);
}
#state-delta-dsc{
    font-size: .8rem;
    color: rgb(108, 109, 109);
}#crowd{
    font-weight: 800;
}
.badge-danger{
    border-radius: 3px;
    padding: 3px;
}
.ftco{
    color: rgb(17, 17, 17);
    margin: .5rem;
    font-size: 2rem;
    display: inline;
}
.spa{
    padding: 3px;
}
.plate{
    background:rgb(255, 255, 255);
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    justify-content: center;
}
.player {
    background:rgb(255, 255, 255);
    width: 14rem;
    min-height: 11.25rem;
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 11px;
    margin: .6rem;
}

  table {
    border-collapse: separate;
    border-spacing: 5px;
    
}
 td {
    border: 0px solid white;
    background-color: rgba(50, 88, 130, 0.32);
    border-radius: 10px;
    -moz-border-radius: 5px;
    padding: 5px;
    margin: 5px;
    word-wrap: break-word;
    font-weight: 600;
}
tr:hover {
    background-color: rgb(95, 95, 95); 
}
@media only screen and (min-width: 320px) {
    .player {
        width: 10rem;
        min-height: 5rem;
    }
    #head{
        font-size: 2rem;
    }
    table{
        width: 100%;
        font-size: .9rem;
    }
    #state{
        max-width: 7rem;
    }
    #confirm{
        visibility: hidden;
        display: none;
    }
    .plate{
        margin-left: -.3rem;
    }
    #crowd{
        max-width: 19rem;
        font-size: .8rem;
    }

  }
  @media only screen and (min-width: 768px) {
    .player {
        width: 10rem;
        min-height: 5rem;
    }
    #head{
        font-size: 2.6rem;
    }
    #con{
        visibility: hidden;
        display: none;
    }
    #confirm{
        visibility: visible;
        display: inline;
    }

  }
  @media only screen and (min-width: 992px) {
    .player {
        width: 14rem;
        min-height: 5rem;
    }
    #head{
        font-size: 4rem;
    }
    table{
        width: 80%;
        font-size: 1rem;
    }
  }
