
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    font-family: 'Karla', sans-serif;
    position: relative; 
    color: rgb(43, 43, 43);
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
}
h1{
    font-weight: 700;
}h2{
    font-weight: 400;
}
a{
    text-decoration: none;
    color: rgb(17, 17, 17);
    display: block;
}
a:hover{
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.dropdown {
    filter: url(#goo);
  }
  .dropdown__face, .dropdown__items {
    background: linear-gradient(315deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 12px;
    width: 86%;
    margin: auto;
    border-radius: 25px;
  }
  .dropdown__face {
    /* display: block; */
    position: relative;
  }
  .dropdown__items {
    margin: 0;
    position: absolute;;
    margin: auto;
    left: 0.9rem;
    top: 50%;
    width: 90%;
    list-style: none;
    list-style-type: none;
    display: block;
    justify-content: space-between;
    visibility: hidden;
    opacity: .6;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  }
  .dropdown__items::before {
    content: "";
    background-color: #A5C4FC;
    position: absolute;
    bottom: 100%;
    right: 20%;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 2rem;
  }
  .dropdown__arrow {
    background-color: #FD6585;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }
  .dropdown input {
    display: none;
  }
  .dropdown input:checked ~ .dropdown__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
  }
  
   #nun {
    display: none;
  }


#sbg{
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
}
#bcol{
    padding-top: 15px;
}
#about{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
#deth{
    color: rgb(122, 121, 121);
}
#recover{
    color: rgb(106, 224, 126);
}
#active{
    color: rgb(20, 208, 233);
}
#total{
    color: rgb(202, 68, 68);
}
#info{
    color: lightslategray;
    font-size: .8rem;
}
#corona{
    color: rgb(202, 68, 68);
}
#delta-con{
    margin: 0px;
    color: rgb(202, 68, 68);
}
#delta-rec{
    margin: 0px;
    color: rgb(106, 224, 126);
}
#delta-dsc{
    margin: 0px;
    color: rgb(122, 121, 121);
}
#state-delta-con{
    font-size: .8rem;
    color: rgb(202, 68, 68);
}
#state-delta-rec{
    font-size: .8rem;
    color: rgb(6, 156, 31);
}
#state-delta-dsc{
    font-size: .8rem;
    color: rgb(108, 109, 109);
}#crowd{
    font-weight: 700;
}
.badge-danger{
    border-radius: 3px;
    padding: 3px;
}
.ftco{
    color: rgb(17, 17, 17);
    margin: .5rem;
    font-size: 2rem;
    display: inline;
}
.spa{
    padding: 3px;
}
.plate{
    background:rgb(255, 255, 255);
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    justify-content: center;
}
.cardbk{
    position: relative;
    width: 18rem;
    min-height: 9rem;
    box-shadow: 5px 15px 35px 3px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    position: relative;
    z-index: 0;
    margin: .5rem;
}
.cardcon{
    background: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}
.cardact{
    background: linear-gradient(315deg, #8EC5FC 0%, #E0C3FC 100%);
}
.cardrec{
    background: linear-gradient(210deg, #74EBD5 0%, #f7e8ad 100%);
}
.player {
    position: absolute;
    right: 0;
    background:rgba(255, 255, 255, 0.3);
    width: 18rem;
    min-height: 11.25rem;
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 11px;
    margin: .5rem;
}
.playerstate{
    background:rgba(255, 255, 255);
    width: 18rem;
    min-height: 11.25rem;
    box-shadow: 5px 15px 35px 5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 11px;
    margin: .5rem;
}


  table {
    border-collapse: separate;
    border-spacing: 5px;
    
}
 td {
    border: 0px solid white;
    background-color: rgba(50, 87, 130, 0.3);
    border-radius: 10px;
    -moz-border-radius: 5px;
    padding: 5px;
    margin: 5px;
    word-wrap: break-word;
    font-weight: 700;
}
tr:hover {
    background-color: rgba(95, 95, 95, 0.5); 
}
@media only screen and (min-width: 320px) {
    .headimg {
        display: none;
    }
    .player {
        width: 14rem;
        min-height: 7rem;
    }
    .playerstate {
        width: 9rem;
        min-height: 7rem;
    }
    #head{
        font-size: 3rem;
    }
    table{
        width: 100%;
        font-size: .75rem;
    }
    #state{
        max-width: 7rem;
    }
    #confirm{
        visibility: hidden;
        display: none;
    }
    .plate{
        margin-left: -.3rem;
    }
    #crowd{
        max-width: 19rem;
        font-size: .8rem;
    }

  }
  @media only screen and (min-width: 768px) {
    .cardbk{
        width: 10rem;
    }
    h1{
        font-size: 1.52rem;
    }
        
    .player {
        width: 7rem;
        min-height: 5rem;
    }
    #head{
        font-size: 2.6rem;
    }
    #con{
        visibility: hidden;
        display: none;
    }
    #confirm{
        visibility: visible;
        display: inline;
    }

  }
  @media only screen and (min-width: 992px) {
    .headimg {
        display:block;
    }
    .player {
        width: 14rem;
        min-height: 5rem;
    }
    .cardbk{
        width:16rem;
    }
    #head{
        font-size: 4rem;
    }
    table{
        width: 80%;
        font-size: 1rem;
    }
  }

  